/* Fondo general celeste */
.calculadora-bg {
  background-color: #eaf6fb;
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  max-width: 1200px;
}

.row {
  flex-wrap: wrap;
}


/* Bloques de formulario y resumen */
.calculadora-card {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  padding: 25px;
 
}



/* Encabezado */
.bg-primary-subtle {
  background-color: #dde9f8 !important;
}

/* Ajuste  de tabla */
.table td {
  padding: 0.5rem 1rem;
  vertical-align: middle;
}

.table-borderless td {
  border: none;
}

.fw-bold.bg-light td {
  background-color: #f7f7f7 !important;
}

/* === Ajuste botón Reiniciar para móviles === */
.reiniciar-btn {
  display: block;
  margin-top: 10px;
  margin-left: 17%; /* lo mantiene a la izquierda */
}

@media (max-width: 768px) {
  .reiniciar-btn {
    width: 100%; /* opcional: ocupa todo el ancho en móvil */
    text-align: left;
    margin-left: 15%;
  }
}