.card {
  border-radius: 1rem;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card-text {
  color: #444;
  line-height: 1.6;
}

hr {
  width: 80px;               /* ajusta a gusto */
  margin: .5rem auto;
  border-top: 2px solid #0d6efd;
  opacity: 0.7;
}

.avatar-placeholder {
  width: 40px;
  height: 70px;
  margin-left: 15px;  
  background-color: #cbd5e1; /* gris azulado suave */
  border-radius: 50% / 50%;  /* da forma ovalada */
}

